<nav class="app-navbar">
    <md-toolbar>
        <a md-button class="app-button" routerLink="/">
            <img class="app-logo"
                 src="../assets/image/ic_home_black_48px.svg">
            <span>SERIOS</span>
        </a>

        <a md-button class="app-button" routerLink="/serviceobjects">
            <span>SERVICE OBJECTS</span>
        </a>
        <a md-button class="app-button" routerLink="/neros">
            <span>NEROS</span>
        </a>

        <!--<a routerLink="/dashboard">Dashboard</a>-->
        <!--<a routerLink="/serviceobjects">Service Objects</a>-->
        <!--<a routerLink="/settings">Settings</a>-->
        <span class="example-fill-remaining-space"></span>
        <a md-button class="app-button" routerLink="/login">
            <span>{{authenticationService.isLoggedIn ? 'LOGOUT' : 'LOGIN'}}</span>
        </a>
        <a md-button class="app-button" href="https://github.com/SEDARI">
            <img class="app-github-logo"
                 src="../assets/image/github-circle-white-transparent.svg">
            <span>GITHUB</span>
        </a>
    </md-toolbar>
</nav>

<router-outlet></router-outlet>
